.nowrap {
    white-space: nowrap;
}
h1 {
    text-align: center;
}
div.left {
    margin: 0 0 0 2em;
}
div.left-left {
    margin: 0 0 0 4em;
}
div.citation {
    text-align: right;
}
div.image,
img.formula {
    display: block;
    margin: 1em auto 1em auto;
    text-align: center;
}
div.picture {
    text-align: center;
    margin: 0.5em 0 0 0;
}
span.formula {
    font-family: "Courier New", Courier, monospace;
}
table {
    border: 1px;
}
table > caption {
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0 0;
    padding: 0;
}
table.formula {
    width: 100%;
    margin: 0;
    table-layout: fixed;
    border: 0;
}
td.formula {
    width: 2em;
    text-align: right;
}
p {
    text-indent: 2em;
    text-align: justify;
    margin: 0 0 0.5em 0;
    padding: 0;
}
p.formula {
    text-indent: 0;
}
ul, ol {
    padding: 0;
    margin: 0 0 0.5em 3em;
}
ol {
    margin-left: 2em;
    list-style-type: none;
    counter-reset: item;
}
li > ol {
    margin-bottom: 0;
}
ol > li {
    display: table;
    counter-increment: item;
}
ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.3em;
}
